<!DOCTYPE html>
<html>

<head>

    <title>Movie Recommendation System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🎬 Movie Recommendation System</h1>

<form method="POST">

<label>Select Your Favourite Genre</label>

<select name="genre">

<option>Action</option>
<option>Comedy</option>
<option>Drama</option>
<option>Romance</option>
<option>Horror</option>
<option>Sci-Fi</option>
<option>Adventure</option>
<option>Animation</option>
<option>Fantasy</option>
<option>Thriller</option>

</select>

<br><br>

<button type="submit">
Recommend Movies
</button>

</form>

{% if recommendations %}

<h2>Recommended Movies</h2>

<ul>

{% for movie in recommendations %}

<li>{{ movie }}</li>

{% endfor %}

</ul>

{% endif %}

</div>

</body>

</html>